{% extends "base.html" %}
{% load static %}
{% block page_content %}
<style>
    .searchInput {
      max-width: 2000px;
      margin: 50px;
    }
    .h1 {
      margin: 100px;
    }
</style>

<h1 font size=10 style="text-align:center;">Search</h1>
<div class="searchInput">
    <label for="input" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
        <input type="search" class="form-control" id="input" placeholder="Enter Keyword Here">
    </div>
</div>

<h1 font size=10 style="text-align:center;">Reviews</h1>
   {% for review in first_reviews %}
      <small>{{ review.author }}</small>
      <small>{{ review.content }}</small>
   {% endfor %}

{% endblock %}
   

