{% load static %}

{% block page_content %}
<style>
    .searchInput {
      max-width: 2000px;
      margin: 50px;
    }
    .h1 {
      margin: 100px;
    }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FilmCamp</a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dsci551_index' %}">Home</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'dsci551_search' %}">Search</a>
          </li>
        </ul>
      </div>
    </nav>


<h1 font size=10 style="text-align:center;">Search</h1>
<form class="searchInput">
    <label for="input" class="col-sm-2 col-form-label"></label>
        <input type="text" class="form-control" name="input" id="input"
               placeholder="Enter Movie's Name Here: ex. Star Wars (Notice: Input is case-sensitive!!!)">
</form>
</div>

<h1 font size=10 style="text-align:center;">Reviews</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Reviews</th>
      </tr>
    </thead>
    <tbody>
          {% for review in first_reviews %}
          <tr>
            <td>{{ review.author }}</td>
            <td>{{ review.content}}</td>
          </tr>
          {% endfor %}
    </tbody>
  </table>

{% endblock %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   

